---
import Layout from "@/layouts/Layout.astro"
import HeroSection from "@/components/landing/HeroSection.astro"
import CoverageSection from "@/components/landing/CoverageSection.astro"
---

<Layout
  title='I can see you | Demo of distraction detection'
  description='Visual simulator of browser-detectable distraction signals.'
>
  <main>
    <HeroSection />
    <CoverageSection />
  </main>
</Layout>

