---
import Layout from "@/layouts/Layout.astro"
import ManualHero from "@/components/manual/ManualHero.astro"
import ManualGrid from "@/components/manual/ManualGrid"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
  title={t('manual.title')}
  description={t('manual.description')}
>
  <main>
    <ManualHero lang={lang} />
    <ManualGrid client:load lang={lang} />
  </main>
</Layout>
