---
import Layout from "@/layouts/Layout.astro"
import ResultsView from "@/components/results/ResultsView"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
  title={t('results.title')}
  description={t('results.description')}
  noindex
>
  <main class="flex-1 flex flex-col">
    <ResultsView client:load lang={lang} />
  </main>
</Layout>
